
/* loading spinner */
#app-mount [class*="app_"] [class*="container_"][class*="fixClipping_"] [class*="content_"] > video,
#app-mount video[poster*="loading"] {
	filter: opacity(1);
	background: url("http://www.clipartbest.com/cliparts/7ca/6Rr/7ca6RrLAi.gif");
	background-size: contain;
	/* width: 64px;
    height: 64px; */
	padding-bottom: 64px;
	background-repeat: no-repeat;
}

/* home button icon */
[class*="tutorialContainer_"] [class*="listItemWrapper_"] [class*="childWrapper_"],
[class*="tutorialContainer_"] [class*="listItemWrapper_"] foreignObject div div
{
    background-image: url(https://raw.githubusercontent.com/fosscord/fosscord/master/assets-rebrand/svg/Fosscord-Icon-Rounded-Subtract.svg);
    background-size: contain;
    border-radius: 50%;
}

[class*="tutorialContainer_"] [class*="listItemWrapper_"] [class*="childWrapper_"],
[class*="tutorialContainer_"] [class*="listItemWrapper_"] foreignObject div div,
[class*="tutorialContainer_"] [class*="listItemWrapper_"] [class*="childWrapper_"]:hover,
[class*="tutorialContainer_"] [class*="listItemWrapper_"] foreignObject div div:hover {
	background-color: white;
}
/* Login QR */
[class*="qrLogin_"],
[class*="verticalSeparator_"],
/* Remove login bg and default logos */
[class*="characterBackground_"] > [class*="artwork_"],
[class*="characterBackground_"] > [class*="logoWithText_"],
/* Download bar */
[class*="notice_"][class*="colorDefault_"],
/* Connection problem links */
[class*="problems_"] > div:nth-child(2),
/* help button */
[class*="toolbar_"] a[href*="support.discord.com"],
/* download button start of guild */
[class*="chatContent_"] [class*="container_"] a[href*="discord.com/api/downloads"],
/* home button icon default svg */
[class*="tutorialContainer_"] [class*="listItemWrapper_"] [class*="childWrapper_"] > svg
{
    display: none !important;
}