/* replace tos acceptance popup */
[class*="tooltipContent_"] {
    visibility: hidden;
}
[class*="tooltipContent_"]::after {
    visibility: visible;
    display: block;
    content: "You need to agree to this instance's rules to continue";
    margin-top: -32px;
}
/* replace login header */
[class*="mainLoginContainer_"] h1[class*="title_"] {
	visibility: hidden;
}
[class*="mainLoginContainer_"] h1[class*="title_"]::after {
	margin-top: -32px;
	content: "Welcome to Fosscord!";
	visibility: visible;
	display: block;
	text-align: center;
}

/* Logo in top left when bg removed */
[class*="characterBackground_"] > [class*="logoWithText_"] {
	content: url(https://raw.githubusercontent.com/fosscord/fosscord/master/assets-rebrand/svg/Fosscord-Wordmark-Gradient.svg) !important;
	width: 130px !important;
	height: 23px !important;
	display: block !important;
}

/* replace TOS text */
[class*="authBox_"] [class*="labelClickable_"] > * {
	visibility: hidden;
}

[class*="authBox_"] [class*="labelClickable_"]::after {
	visibility: visible;
	content: "I have read and agree with the rules set by this instance.";
	display: block;
	margin-top: -16px;
}

/* shrink login box to same size as register */
[class*="authBoxExpanded_"] {
	width: 480px !important;
}
